* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.contenedor {
  width: 95%;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr; 
}

.header, .footer {
  background-color: rgba(0, 0, 255, 0.56);
  color: white;
  padding: 20px;
  text-align: center;
  grid-column: 1 / -1;
}

.columna {
  background-color: aqua; 
  padding: 20px;
  border: 1px solid #00cccc;
  text-align: center;
}

.columna img {
  width: 50%;
  height: auto;
}


@media (min-width: 600px) {
  .contenedor {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
  }
}